{% extends 'pagedesimulation.html' %}
{% load static %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'hachagedynamique/css/display.css'%}">
        <link rel="stylesheet" href="{% static 'hachagedynamique/css/style.css'%}">
    {% endblock %}

    {% block fichier %}
            <div  class="fichier"  id="file"  >
                    <div ><ul id="container2"><li><div id="calculadr"></div></li><li><div id="information" ></div></li><li><div id="hashage"></div></li></ul></div>


                </div>
    {% endblock %}

    {% block operations %}
        <li class="nav-item mt-3" role="presentation" id="rechercher" ><a class="nav-link"  onclick="show_form_box(2)"><i class="fas fa-search"></i><span>Recherche</span></a>
                        <div id="rechercher-form" class="form-box">

                            <form  class="input-group">
                                <p class="alertt" id="rechercher-alert"></p>
                                <input type="number" class="input-field" id="rechinp" placeholder="L'enregistrement" value="1" required>
                                <button type="button" id="rechsub" class="submit-btn">Simulation</button>
                            </form>
                        </div>
                    </li>
        <li class="nav-item mt-3" role="presentation" id="inserer"><a class="nav-link" onclick="show_form_box(3)"><i class="fas fa-plus-circle"></i><span >Insertion</span></a>
                        <div id="inserer-form" class="form-box">

                            <form  class="input-group">
                                <p class="alertt" id="inserer-alert"></p>
                                <input type="number" id="insinp" class="input-field" placeholder="L'enregistrement" value="1" required>
                                <button type="button" id="inssub" class="submit-btn">Simulation</button>
                            </form>
                        </div>
                    </li>
    {% endblock %}

    {% block js %}
        <script src="{% static 'hachagedynamique/js/hashage.js'%}"></script>
    {% endblock %}



